In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [16]:
def load_and_print_column_names(directory_path):

    for filename in os.listdir(directory_path):

        if filename.endswith('.csv'):
            print(filename)
            file_path = os.path.join(directory_path, filename)

            df = pd.read_csv(file_path)
            df = sum_features_excluding(df)
            
            '''print(f"Column names in '{filename}':")
            print(df.columns.tolist())
            print(df['use [kW]'], df_sum['Sum'])
            print('-' * 50)'''
            print(df['Sum'], df['use [kW]'])
    
def sum_features_excluding(df):
    
    exclude_columns = ['Date & Time', 'use [kW]', 'gen [kW]', 'Grid [kW]']
    
    
    valid_columns = [col for col in df.columns if col not in exclude_columns]
    
    
    df['Sum'] = df[valid_columns].sum(axis=1)
    
    return df

In [17]:
load_and_print_column_names('dataset/HomeB/')

HomeB-meter1_2014.csv
0        0.159486
1        0.561556
2        0.545698
3        0.617492
4        0.131881
           ...
17515    0.768889
17516    0.474930
17517    0.514502
17518    0.427170
17519    0.333996
Name: Sum, Length: 17520, dtype: float64 0        0.304439
1        0.656771
2        0.612895
3        0.683979
4        0.197809
           ...
17515    1.560890
17516    0.958447
17517    0.834462
17518    0.543863
17519    0.414441
Name: use [kW], Length: 17520, dtype: float64
HomeB-meter1_2015.csv
0        0.203536
1        0.208224
2        0.226490
3        0.101848
4        0.143047
           ...
17515    0.421509
17516    0.337090
17517    0.580132
17518    0.259581
17519    0.521537
Name: Sum, Length: 17520, dtype: float64 0        0.300237
1        0.291522
2        0.290702
3        0.179216
4        0.214933
           ...
17515    0.492082
17516    0.401793
17517    0.650312
17518    0.331039
17519    0.583719
Name: use [kW], Length: 17520, dtype: float64
HomeB-meter1_2016.csv
0         0.383378
1         0.333029
2         0.583946
3         0.575569
4         0.319337
            ...
247595    0.351817
247596    0.350767
247597    0.349850
247598    0.349383
247599    0.327517
Name: Sum, Length: 247600, dtype: float64 0         0.455814
1         0.403376
2         0.662962
3         0.677851
4         0.425556
            ...
247595    0.406400
247596    0.405350
247597    0.404333
247598    0.403883
247599    0.382550
Name: use [kW], Length: 247600, dtype: float64
HomeB-meter2_2014.csv
0        0.350524
1        0.359700
2        0.246454
3        0.330919
4        0.225861
           ...
17515    0.959584
17516    0.660503
17517    0.398756
17518    0.191156
17519    0.226491
Name: Sum, Length: 17520, dtype: float64 0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
17515    0.0
17516    0.0
17517    0.0
17518    0.0
17519    0.0
Name: use [kW], Length: 17520, dtype: float64
HomeB-meter2_2015.csv
0        0.126834
1        0.142351
2        0.166957
3        0.087007
4        0.130653
           ...
39790    0.265867
39791    0.264767
39792    0.264783
39793    0.265667
39794    0.265883
Name: Sum, Length: 39795, dtype: float64 0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
39790    0.0
39791    0.0
39792    0.0
39793    0.0
39794    0.0
Name: use [kW], Length: 39795, dtype: float64
HomeB-meter2_2016.csv
0         0.221717
1         0.153500
2         0.153600
3         0.153883
4         0.153783
            ...
503905    0.150600
503906    0.150633
503907    0.150383
503908    0.150400
503909    0.142483
Name: Sum, Length: 503910, dtype: float64 0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
503905    0.0
503906    0.0
503907    0.0
503908    0.0
503909    0.0
Name: use [kW], Length: 503910, dtype: float64

In [18]:
def append_dataframes(directory_path):
    # Initialize an empty DataFrame to store the combined data
    combined_df = pd.DataFrame()

    # Iterate through all files in the specified directory
    for filename in os.listdir(directory_path):
        # Check if the file is a CSV file
        if filename.endswith('.csv'):
            file_path = os.path.join(directory_path, filename)
            # Read the CSV file into a dataframe
            df = pd.read_csv(file_path)
            
            # Align columns by adding missing columns with 0 values
            for col in combined_df.columns:
                if col not in df.columns:
                    df[col] = 0  # Add missing columns with 0

            for col in df.columns:
                if col not in combined_df.columns:
                    combined_df[col] = 0  # Add missing columns to combined_df

            # Append the current dataframe to the combined dataframe
            combined_df = pd.concat([combined_df, df], ignore_index=True)
            print(f"Appended data from {filename}")

    return combined_df

In [19]:
# Example usage
directory_path = 'dataset/HomeB/'  # Replace with your directory path
combined_data = append_dataframes(directory_path)

# Display the combined dataframe
print(combined_data.head())

Appended data from HomeB-meter1_2014.csv
Appended data from HomeB-meter1_2015.csv
Appended data from HomeB-meter1_2016.csv
Appended data from HomeB-meter2_2014.csv
Appended data from HomeB-meter2_2015.csv
Appended data from HomeB-meter2_2016.csv
           Date & Time  use [kW]  gen [kW]  Grid [kW]   AC [kW]  Furnace [kW]  \
0  2014-01-01 00:00:00  0.304439       0.0   0.304439  0.000058      0.009531
1  2014-01-01 00:30:00  0.656771       0.0   0.656771  0.001534      0.364338
2  2014-01-01 01:00:00  0.612895       0.0   0.612895  0.001847      0.417989
3  2014-01-01 01:30:00  0.683979       0.0   0.683979  0.001744      0.410653
4  2014-01-01 02:00:00  0.197809       0.0   0.197809  0.000030      0.017152

   Cellar Lights [kW]  Washer [kW]  First Floor lights [kW]  \
0            0.005336     0.000126                 0.011175
1            0.005522     0.000043                 0.003514
2            0.005504     0.000044                 0.003528
3            0.005556     0.000059                 0.003499
4            0.005302     0.000119                 0.003694

   Utility Rm + Basement Bath [kW]  ...  Microwave [kW]  First floor [kW]  \
0                         0.003836  ...             0.0               0.0
1                         0.003512  ...             0.0               0.0
2                         0.003484  ...             0.0               0.0
3                         0.003476  ...             0.0               0.0
4                         0.003865  ...             0.0               0.0

   Tub Whirpool [kW]  Kitchen counter [kW]  Dishwasher [kW]  Fridge [kW]  \
0                0.0                   0.0              0.0          0.0
1                0.0                   0.0              0.0          0.0
2                0.0                   0.0              0.0          0.0
3                0.0                   0.0              0.0          0.0
4                0.0                   0.0              0.0          0.0

   Guest Bedroom / Media Room [kW]  MBed KBed Lights &amp;  MasterBath  [kW]  \
0                              0.0                                       0.0
1                              0.0                                       0.0
2                              0.0                                       0.0
3                              0.0                                       0.0
4                              0.0                                       0.0

   Living room &amp; Kitchen Lights [kW]  \
0                                    0.0
1                                    0.0
2                                    0.0
3                                    0.0
4                                    0.0

   Bath GFI (1st &amp; 2nd floor bath) [kW]
0                                       0.0
1                                       0.0
2                                       0.0
3                                       0.0
4                                       0.0

[5 rows x 31 columns]

In [20]:
df = sum_features_excluding(combined_data)

In [24]:
df

,Date & Time,use [kW],gen [kW],Grid [kW],AC [kW],Furnace [kW],Cellar Lights [kW],Washer [kW],First Floor lights [kW],Utility Rm + Basement Bath [kW],...,First floor [kW],Tub Whirpool [kW],Kitchen counter [kW],Dishwasher [kW],Fridge [kW],Guest Bedroom / Media Room [kW],MBed KBed Lights &amp; MasterBath [kW],Living room &amp; Kitchen Lights [kW],Bath GFI (1st &amp; 2nd floor bath) [kW],Sum
0,2014-01-01 00:00:00,0.304439,0.0,0.304439,0.000058,0.009531,0.005336,0.000126,0.011175,0.003836,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.159486
1,2014-01-01 00:30:00,0.656771,0.0,0.656771,0.001534,0.364338,0.005522,0.000043,0.003514,0.003512,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.561556
2,2014-01-01 01:00:00,0.612895,0.0,0.612895,0.001847,0.417989,0.005504,0.000044,0.003528,0.003484,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.545698
3,2014-01-01 01:30:00,0.683979,0.0,0.683979,0.001744,0.410653,0.005556,0.000059,0.003499,0.003476,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.617492
4,2014-01-01 02:00:00,0.197809,0.0,0.197809,0.000030,0.017152,0.005302,0.000119,0.003694,0.003865,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.131881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843860,2016-12-15 22:25:00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006550,0.00075,0.005350,0.001333,0.003433,0.005550,0.018617,0.014667,0.002383,0.150600
843861,2016-12-15 22:26:00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006567,0.00075,0.005367,0.001333,0.003450,0.005567,0.018517,0.014617,0.002383,0.150633
843862,2016-12-15 22:27:00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006567,0.00075,0.005367,0.001333,0.003450,0.005583,0.018467,0.014733,0.002400,0.150383
843863,2016-12-15 22:28:00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006567,0.00075,0.005367,0.001350,0.003450,0.005600,0.018533,0.014750,0.002383,0.150400
843864,2016-12-15 22:29:00,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006567,0.00075,0.005400,0.001333,0.003450,0.005633,0.018517,0.014750,0.002417,0.142483